.header {
	font-size: 1px;
	text-align: center;
    background-color: lightgrey;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.navv{
	font-size:30px;
}
.mag{
		margin-left: 20px;
}
.img 
{
 width: 100%;
height: 100%;
}
.lucy-credit{
	font-size:300px;
	color:brown;
}
.anti-dot{
	list-style-type:none
}
.bgFont{
	font-size:20px;
}
.f30{
	font-size:30px;
}
.footer{
	background-color: grey;
	font-size:25px;
	color: yellow;
}
.test{
margin-top: 1vw;
height: 35vw;
width: 100%;
margin: auto;
}

.para{
margin-left: 20px
}
