
.header {
	font-size: 1px;
	text-align: center;
    background-color: lightgrey;
}
.navv {
font-size:30px;
background-color:red;

}
.mag{
		margin-left: 40px;
}
.img 
{
 width: 100%;
height: 100%;
}
.lucy-credit{
	font-size:300px;
	color:brown;
}
.anti-dot{
	list-style-type:none
}
.bgFont{
	font-size:20px;
}
.f30{
	font-size:30px;
}
.footer{
	background-color: #0e84e4;
	font-size:25px;
	color: yellow;
}

a:hover {
background-color:orange;
opacity: 0.5;
}


.test{
margin-top: 2vw;
height: 55vw;
width: 100%;
margin: auto;
}


#bioPanel, #calcABPanel, #calcBCPanel, #chemPanel, #compPanel, #englangPanel, #englitPanel, #enviroPanel, #humangeoPanel, #macroPanel, #precalcPanel, #phys1Panel, #phys2Panel, #seminarPanel, #spanishlangPanel, #spanishlitPanel, #statPanel, #2dPanel, #drawingPanel, #usgovPanel, #ushistPanel, #worldPanel {
padding: 20px;
}

body{
color: #ffffb8;
	
}
